%h3 User agreement
%p This is app created for testing facebook messenger API
%p We do not pass you data to third party services.
%p We use heroku as PAAS for this testing and take a look at heroku TOS and user agreement